@import '../../styles/styles';

.pot {
  width: 80px;
  height: 156px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.text {
  @extend %Inter400;
  @extend %text;
}

.img {
  width: 100%;
  height: 100%;
}
